
<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
  <img class="img-thumbnail" src="{{product.imgs[0]}}" />
</div>
<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
  <h3>{{product.value}}</h3>
  <h4>{{product.desc}}</h4>
  <h4>售價 : {{product.price}}</h4>
  <select name="" id="input1/(\w+)/\u\1/g" class="form-control" required="required" #SelectedAmount>
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
  </select>
  
  <button type="button" class="btn btn-default" (click)="addToShoppingCarClick(SelectedAmount.value)">Add to shopping car</button>
  
</div>


