<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
  
</div>
<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
  <table class="table table-bordered table-hover">
    <tbody>
      <tr>
        <td>
          <label>Email : </label>
        </td>
        <td>
        <input type="email" name="" id="input1/(\w+)/\u\1/g" class="form-control" value="" required="required" title="">
        </td>
      </tr>
      <tr>
        <td>Password : </td><td>
          <input type="password" name="" id="input1/(\w+)/\u\1/g" class="form-control" required="required" title="">
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <div class="form-group">
            <button type="button" class="btn btn-large btn-block btn-success form-control" (click)="onloginclick()">Login</button>
            <button type="button" class="btn btn-large btn-block btn-info form-control" (click)="onregisterclick()">Register</button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  
</div>
<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
  
</div>

