<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <div class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title">總計</h3>
      </div>
      <div class="panel-body">
        {{shoppingCar.total}}
      </div>
  </div>  
</div>
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" *ngFor="let item of shoppingCar.items">
  <div>
    <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title">{{item.value}}</h3>
        </div>
        <div class="panel-body">
          <p>數量 : {{item.amount}}</p>
          <p>單價 : {{item.price}}</p>
          <p>小記 : {{item.total}}</p>
          <div class="pull-right">
          <button type="button" class="btn btn-default btn-xs btn-danger" (click)="onAddClick(item)">+</button>
          <button type="button" class="btn btn-default btn-xs btn-info" (click)="onMinusClick(item)">-</button>
          <button type="button" class="btn btn-default btn-xs btn-primary" (click)="onDelClick(item)">DEL</button>
        </div>
      </div>
    </div>
  </div>
</div>

